[Desktop Entry]
Encoding=UTF-8
Name=COLX
Comment=COLX P2P Cryptocurrency
Comment[fr]=COLX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=COLX, eşten eşe kriptografik sanal para birimi
Exec=colx-qt %u
Terminal=false
Type=Application
Icon=colx128
MimeType=x-scheme-handler/colx;
Categories=Office;Finance;
